<header class="masthead">
  <div class="container">
    <div class="site-heading">
      <h1>Simple Blog</h1>
      <span class="subheading">A Perfect Blog for your web site</span>
    </div>
  </div>
</header>
<main>
  <div class="text-section">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Massa massa ultricies mi quis hendrerit dolor. Erat pellentesque adipiscing commodo elit at imperdiet. Odio
      facilisis mauris sit amet. Porttitor massa id neque aliquam vestibulum morbi. Nascetur ridiculus mus mauris vitae
      ultricies leo integer malesuada. Ultrices dui sapien eget mi. Diam sollicitudin tempor id eu nisl nunc. Tempus iaculis
      urna id volutpat lacus laoreet non curabitur gravida. Turpis cursus in hac habitasse platea dictumst quisque sagittis.
      Volutpat sed cras ornare arcu dui vivamus arcu. Euismod in pellentesque massa placerat duis ultricies. Laoreet non
      curabitur gravida arcu ac. Sit amet purus gravida quis blandit. Dis parturient montes nascetur ridiculus mus mauris
      vitae ultricies. Metus aliquam eleifend mi in nulla.
    </p>
    <p>
      Eget egestas purus viverra accumsan in nisl nisi scelerisque eu. Tristique senectus et netus et. Phasellus vestibulum
      lorem sed risus ultricies tristique nulla. Habitant morbi tristique senectus et netus et malesuada fames ac. Dictumst
      quisque sagittis purus sit amet volutpat consequat mauris nunc. Vel risus commodo viverra maecenas accumsan lacus vel.
      Tempor orci eu lobortis elementum. Amet cursus sit amet dictum sit amet. Felis bibendum ut tristique et egestas. Odio ut
      sem nulla pharetra diam. Pellentesque elit eget gravida cum sociis natoque penatibus. Quisque sagittis purus sit amet
      volutpat consequat mauris nunc. Tempor orci dapibus ultrices in. Blandit cursus risus at ultrices mi tempus imperdiet.
      Vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Eget nullam non nisi est sit. Morbi quis commodo odio
      aenean sed adipiscing diam donec. Ac turpis egestas sed tempus urna et. Vitae tempus quam pellentesque nec. Risus quis
      varius quam quisque id diam.
    </p>
    <p>
      <button mat-stroked-button color="primary" routerLink="/list-articles">Read articles</button>
    </p>
  </div>
</main>